# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

.DS_Store
/.gitignore
.gitignore
/wstest
/wsTester/wsTester
/homeport
/libWebserver/src/request_test
/libWebserver/src/response_test
/doc/
/libHTTP/src/url_parser_test