body, html {
width:100%;
height: 100%;
margin:0;
padding: 0;
}

#canvas {
width:auto;
height:100%;
border: 1px solid #000;
background-color: white;
}

#scenario {

}

#wrapper {
    width:99%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}

#ifWrap {
    position:relative; 
    width:100%; 
    height:150px; 
    border:1px solid #000;
}

#whenWrap {
    position: relative; 
    width: 49%; 
    height: 150px; 
    display: inline-block; 
    border: 1px solid #000;
    vertical-align:top;
}

#thenWrap {
    position: relative; 
    width: 49%; 
    height: 150px; 
    display: inline-block; 
    border: 1px solid #000; 
    vertical-align:top;
}

/* BLOCKS*/

.startTriangle {
    margin-right:5px;
    display:inline-block;
    vertical-align: top;

}

svg .block {
    fill: rgb(64, 61, 91);

}

.contentBackground {
    background-color: rgb(64, 61, 91);
}

.blockContent {
    height:100%;
    min-height: 100px;
    display:inline-block;
    vertical-align: top;
    color:#FFF;
}

.timedBlock {
    position:relative;
    display:inline-block;
    vertical-align: top;
    fill: rgb(64, 61, 91);
    width: auto !important;
    padding-left:2px;
    padding-right:2px;

}
.blockSpacing {
margin-right:10px;
}

.timedBlock.appended {
    margin-left:-50px;

}

svg .dropspace {
    fill:#dfddf3;
}

.dropSpaceBackground {
    width:100px !important;
    min-width:150px;
    background-color:#dfddf3;
    position:relative;
}

.dropArrow.appended {
    margin-left:-50px;

}

/*class used for jqueryui selector*/
.dropHere { 
    position:absolute;
    top:0px;
    left:0px;
    right:-50px;
    bottom:0px;
    /*border: 1px solid #000;*/
}

.dragHere {
    position:absolute;
    top:0px;
    left:50px;
    right:0px;
    bottom:0px;
    /*border: 1px solid #000;*/
}


/*
#canvas {
    position:relative;
    height:500px; 
    width:1000px;
    border: 1px SOLID #808080;
}

#whenTimeline {
    position:relative;
    height:100px;
    width: 800px;
    border: 1px SOLID #808080;
}


.dropSpace {
    position:relative;
    height: 75px;
    width: 150px;
    border: 1px SOLID #808080;
    overflow:scroll;
    display: inline-block;

}

svg .dropArea {
    fill:red;
    stroke:black;
    stroke-width: 1px;
    stroke-dasharray:initial;
    

}
svg .flash {
    -webkit-animation: fade 1s linear 0s infinite alternate;
    -moz-animation: fade 1s linear 0s infinite alternate;
    -ms-animation: fade 1s linear 0s infinite alternate;
    animation: fade 1s linear 0s infinite alternate;
}

  
    */

/** ANIMATION KEYFRAMES**/


@-webkit-keyframes fade { from { opacity:0.2; } to { opacity:1.0; } }
   @-moz-keyframes fade { from { opacity:0.2; } to { opacity:1.0; } }
     @-o-keyframes fade { from { opacity:0.2; } to { opacity:1.0; } }
        @keyframes fade { from { opacity:0.2; } to { opacity:1.0; } }